.app-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.app-header p{
  font-size: 3.8rem;
  background-color: "tomato";
  margin-bottom: 0;
}

.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fruit-decorator-container {
  padding-top: 1rem;
  letter-spacing: 0.2rem;
}

.input-panel-loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  width: 65%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .input-panel-loader {
    width: 75%;
  }
}

/********************
Ant Design Overrides
********************/
.ant-layout-header {
  /* Overwrite antd */
  background-color: white;
  line-height: normal;
  height: 9rem;
}

.ant-btn {
  transition: background-color 0.2s, color 0.1s, font-size 0.1s, border 0.1s, transform 0.1s;
}

.ant-btn:hover,
.ant-btn:focus {
  background-color: #feca57;  
  color: #fff;
  font-size: 1rem;
  border: 1px solid #feca57;
}

.ant-btn:active {
  transform: scale(0.9);
}

.ant-spin-dot-item {
  background-color: #3498db;
}